<div class="view-container">
    <div class="form-container">
        <mat-card class="mat-elevation-z5">
            <mat-card-header >
              <mat-card-title>Create Bus</mat-card-title>
              <mat-card-subtitle>Fill the form</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
               
              <form [formGroup]="createForm" (ngSubmit)="save()">
                <mat-form-field  appearance="fill" class="fw">
                    <mat-label>Date</mat-label>
                    <input matInput type="text" [matDatepicker]="picker" formControlName="journeyDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="createForm.controls['journeyDate'].hasError('required')">
                        Journey Date is <strong>required</strong>
                    </mat-error>
                    
                  </mat-form-field>
                  
                  <mat-form-field  appearance="fill" class="fw">
                    <mat-label>Time</mat-label>
                    <input matInput class="fw"  [ngxTimepicker]="toggleIcon" formControlName="departureTime">
                    
                    <ngx-material-timepicker-toggle matSuffix [for]="toggleIcon" >
                        
                    </ngx-material-timepicker-toggle>
                    
                    <ngx-material-timepicker  #toggleIcon></ngx-material-timepicker>
                    <mat-error *ngIf="createForm.controls['departureTime'].hasError('required')">
                        Departure Time is <strong>required</strong>
                    </mat-error>
                    
                  </mat-form-field>
                  <mat-form-field  appearance="fill" class="fw">
                    <mat-label>Reporting time before departure</mat-label>
                    <input matInput type="text" formControlName="minTimeToReportBeforeDeparture">
                    <mat-error *ngIf="createForm.controls['minTimeToReportBeforeDeparture'].hasError('required')">
                        Report time is <strong>required</strong>
                    </mat-error>
                    
                  </mat-form-field>
                  <mat-form-field  appearance="fill" class="fw">
                    <mat-label>Fare Amount</mat-label>
                    <input matInput type="text" formControlName="fareAmount">
                    <mat-error *ngIf="createForm.controls['fareAmount'].hasError('required')">
                        Fare Amount is <strong>required</strong>
                    </mat-error>
                    
                  </mat-form-field>
                  <mat-form-field  appearance="fill" class="fw">
                    <mat-label>Bus Route</mat-label>
                    <mat-select formControlName="busRouteId">
                      <mat-option  [value]="undefined">None</mat-option>
                      <mat-option *ngFor="let op of busRoutes" [value]="op.busRouteId">{{op.from + '-' +op.to}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="createForm.controls['busRouteId'].hasError('required')">
                        Bus Route is <strong>required</strong>
                    </mat-error>
                    
                  </mat-form-field>

                  <mat-form-field  appearance="fill" class="fw">
                    <mat-label>Bus</mat-label>
                    <mat-select formControlName="busId">
                      <mat-option  [value]="undefined">None</mat-option>
                      <mat-option *ngFor="let op of buses" [value]="op.busId">{{op.busModel+"/"+op.busPlateNumber}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="createForm.controls['busId'].hasError('required')">
                        Bus Route is <strong>required</strong>
                    </mat-error>
                    
                  </mat-form-field>
                  <div class="fw" style="padding:10px 0">
                    <mat-label>Time</mat-label>
                    <ngx-timepicker-field formControlName="test" [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
                  </div>
                  <div  appearance="fill" class="fw">
                    <button type="submit" [disabled]="createForm.invalid" mat-raised-button color="primary">Save</button>
                  </div>
                  
              </form>
         
            </mat-card-content>
            <mat-card-content>
              <mat-card-actions>
                <a mat-button [routerLink]="['/buses']"><mat-icon>arrow_back</mat-icon> Back to bus list</a>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
    </div>
</div>
   


